:root {
  /* Neutrals */
  --clr-neutral-900: hsl(243, 96%, 9%);
  --clr-neutral-800: hsl(243, 27%, 20%);
  --clr-neutral-700: hsl(243, 23%, 24%);
  --clr-neutral-600: hsl(243, 23%, 30%);
  --clr-neutral-300: hsl(240, 6%, 70%);
  --clr-neutral-200: hsl(250, 6%, 84%);
  --clr-neutral-0: hsl(0, 0%, 100%);

  /* Orange */
  --clr-accent-500: hsl(28, 100%, 52%);

  /* Blues */
  --clr-blue-500: hsl(233, 67%, 56%);
  --clr-blue-700: hsl(248, 70%, 36%);
}