:root {
  --font-family-base: "DM Sans", sans-serif;
  --font-family-display: "Bricolage Grotesque", sans-serif;

  --font-weight-300: 300;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;

  --fs-h1: 3.875rem;
}
