.container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    @media (max-width: 50rem) {
        flex-direction: column;
    }
    .search-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 40%;
        @media (max-width: 50rem) {
            width: 100%;
            
        }
    }
    input {
        caret-color: var(--clr-neutral-300);
        accent-color: var(--clr-blue-500);
        background-color: var(--clr-neutral-800);
        color: var(--clr-neutral-0);
        border: 2px solid transparent;
        padding: 1rem 1rem 1rem 2.5rem;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: var(--font-weight-500);
        outline: none;
        width: 100%;
        &:focus {
            border: 2px solid var(--clr-neutral-0);
        }
    }
    .search-icon {
        position: absolute;
        left: 0.5rem;
        background-image: url('../assets/images/icon-search.svg');
        background-size: contain;
        background-repeat: no-repeat;
        width: 1.5rem;
        height: 1.5rem;
        z-index: 1;
    }
    button {
        background-color: var(--clr-blue-500);
        color: var(--clr-neutral-0);
        border: none;
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: var(--font-weight-300);
        @media (max-width: 50rem) {
            padding: 1rem;
        }
        &:hover {
            background-color: var(--clr-blue-700);
        }
        &:focus {
            box-shadow: inset 0 0 0 4px var(--clr-neutral-900);
            outline: 2px solid var(--clr-blue-700);
        }
    }
}

.search-results {
    position: absolute;
    margin: 0;
    padding: 0.5rem;
    list-style: none;
    width: 60%;
    max-height: 18rem;
    overflow: auto;
    background-color: var(--clr-neutral-800);
    border: 1px solid var(--clr-neutral-600);
    border-radius: 0.5rem;
    translate: 0 3.8rem;
    display: grid;
    gap: 0.25rem;
    @media (max-width: 50rem) {
        width: 100%;
    }
    li {
        display: flex;
        align-items: center;
        background-color: var(--clr-neutral-700);
        border-radius: 0.5rem;
        padding: 0.5rem 0.75rem;
        cursor: pointer;
        border: 1px solid var(--clr-neutral-600);
        &:hover {
            background-color: var(--clr-neutral-600);
        }
    }
}